<% content_for :title, "Editing grouping" %>

<h1>Editing grouping</h1>

<%= turbo_frame_tag "#{@puzzle.id}_#{@grouping.id}", style: "display: contents;" do %>
  <%= render "form", grouping: @grouping %>
<% end %>

<br>

<div>
  <%= link_to "Show this grouping", [@puzzle, @grouping] %> |
  <%= link_to "Back to groupings", puzzle_groupings_path %>
</div>
