<% content_for :title, "Editing grouping" %>

<h1>Editing grouping</h1>

<%= render "form", grouping: @grouping %>

<br>

<div>
  <%= link_to "Show this grouping", @grouping %> |
  <%= link_to "Back to groupings", groupings_path %>
</div>
