<% content_for :title, "Editing grouping" %>

<h1>Editing grouping</h1>

<%= render "form", grouping: @grouping %>

<br>

<div>
  <%= link_to "Show this grouping", [@puzzle, @grouping] %> |
  <%= link_to "Back to groupings", puzzle_groupings_path %>
</div>
