<div class="wa-stack wa-align-items-center">
  <span class="wa-heading-2xl">Think you know MRL IT?</span>
  <span class="wa-body-l">Group words that share a common thread.</span>
  <wa-button>Play</wa-button>
</div>
