<div class="wa-stack wa-align-items-center">
  <span class="wa-heading-2xl">Think you know MRL IT?</span>
  <span class="wa-body-l">Group words that share a common thread.</span>
  <%= link_to "View Available Puzzles", puzzles_path %>
  <p></p>
  No Roger, no Rerun, no rent!
</div>
