<div id="<%= dom_id guess %>">
  <div>
    <strong>Game:</strong>
    <%= guess.game_id %>
  </div>

  <div>
    <strong>Words:</strong>
    <%= guess.words %>
  </div>

  <div>
    <strong>Grouping:</strong>
    <%= guess.grouping_id %>
  </div>

</div>
