<div id="<%= dom_id game %>">
  <div>
    <strong>User:</strong>
    <%= game.user_id %>
  </div>

  <div>
    <strong>Puzzle:</strong>
    <%= game.puzzle_id %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= game.status %>
  </div>

</div>
