/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

.label-on-left {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--wa-space-l);
  align-items: center;

  wa-input,
  wa-textarea {
    grid-column: 1 / -1;
    grid-row-end: span 2;
    display: grid;
    grid-template-columns: subgrid;
    gap: 0 var(--wa-space-l);
    align-items: center;
  }

  wa-input {
    max-width: fit-content;
  }

  wa-input::part(base) {
    max-width: 40ch;
  }

  ::part(label) {
    text-align: right;
  }

  ::part(hint) {
    grid-column: 2;
  }
}
