<div class="wa-cluster">
  <span class="wa-body-l wa-font-weight-bold">Made in Austin, TX</span>
  <i class="fa-duotone fa-solid fa-taco fa-xl" style="--fa-primary-color: rgb(255, 212, 59); --fa-secondary-color: rgb(255, 212, 59);"></i>
</div>
