<%= link_to root_path, class: "wa-link-plain" do %>
  <div class="wa-cluster">
    <i class="fa-duotone fa-solid fa-puzzle fa-2xl" style="--fa-primary-color: rgb(8, 76, 147); --fa-secondary-color: rgb(8, 76, 147);"></i>
    <span class="wa-heading-2xl">MRL IT Connections</span>
  </div>
<% end %>
